# JWT packages first to ensure they are installed
djangorestframework-simplejwt==5.3.1
PyJWT==2.8.0

# Django and other packages
django==4.2.11
djangorestframework==3.14.0
django-cors-headers==4.3.1
gunicorn==21.2.0
python-dotenv==1.0.0
whitenoise==6.6.0 